#wrap{
    width: 1200px;
    height: 800px;
    position: relative;
    background-color: #f9f7f7;
}
#Checkerboard{
    position: absolute;
    width: 504px;
    height: 504px;
    top: 50%;
    left: 50%;
    margin-top: -252px;
    margin-left: -252px;
    padding: 1px;
    z-index: 10;
    box-shadow: 2px 2px 5px;
}
.grid{
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	float: left;
}
.colorgrid{
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	float: left;
}
#Movecolorboard{
	background-color: white;
	position: absolute;
    width: 504px;
    height: 504px;
    top: 50%;
    left: 50%;
    margin-top: -252px;
    margin-left: -252px;
    padding: 1px;
    z-index: 5;
}
.heroicon{
	width: 40px;
    cursor: pointer;
}
#controlboard{
    width: 250px;
    height: 500px;
    position: absolute;
    background-color: #ccc;
    right: 50px;
    top: 19%;
}

.controllboard_button{
	width: 200px;
    background-color: #5d6a78;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
    box-shadow: 2px 2px 5px;
}

.controllboard_button:active{
	background-color: #123;
    cursor: pointer;
}

.attacktips{
    text-align: right;
    margin-right: 25px;
}

.pop{
	position: absolute;
    z-index: 20;
    border: 1px solid #3caaae;
    padding: 2px;
    background-color: #a29e9e;
    color: #fff;
}

.pop p{
	margin: 2px 0px;
}